body{
    margin: 0;
    padding: 0;
    background-color: #192022;
    font-family: 'Lato' , 'Open+Sans';
    box-sizing: border-box;
}

#navbar{
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
#logo-container{
    display: flex;
    align-items: center;
    gap:2px;
}
#nav-items{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}
#nav-items li{
    cursor: pointer;
}
#main-header{
    display: flex;
    justify-content:flex-end;
    color: #ffffff;
    position: relative;
}

/* #main-header .left{
    position: absolute;
    width: 40%;
    top: 100px;
    left: 10%;
    height: 100%;
    color: #ffffff;
} */

#main-header .left{
    padding-left: 20px;
}

#main-header .left .big-text{
    font-size: 70px;
    color: #ffffff;
    font-weight:900 ;
}

#main-header .left #overview {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;    /*gap between the flex items*/
}

#main-header .left #overview .overview-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header .left #overview .overview-items h4{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.gradient-text{
    color: #ff00f2;
}

#main-header .left #overview .overview-items p{
    margin: 0;
    padding:auto;
    font-weight: 300;
}

#main-header .right{
    width: 80%;
    height: 95%;
    z-index: -10;
    mix-blend-mode:color-dodge;
}

#main-header .right img{
    width:100;
    height: 105vh;
    margin-top: -4vh;
}

.buttons{
    display: flex;
}

.btn{
    padding: 10px 20px;
    margin: 0px 10px;
    transform: skewX(-20deg) ;
    border: 1px solid #7d63f1;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.btn1{
    background: #2d1e6b;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.band{
    width: 100;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: #ffffff;
    transform: rotate(-3deg);
    border: 1px solid #ffffff40;
    font-size: 25px;
    font-weight:800 ;
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) ;
    backdrop-filter:blur(4px);
}

.band img{
    width: 25px;
    height: 25px;
}

.choose-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.choose-section-title{
    font-size: 30px;
    font-weight: 800;
}

.section-description{
    margin: 0;
    padding: 0%;
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}

.choose-section .image-carousel{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 40px ;
}

.image-carousel .center-img{
    width: 500px;
    height: 300px;

}

.image-carousel img{
    width: 400px;
    height: 250px;
    /* border: 1px solid #ffffff40; 
    border-radius: 5px; */
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.discover-section{
    width: 70%;
    margin-top: 175px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.discover-section .buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.discover-card{
   display: flex;
   justify-content: flex-start; 
   align-items: center;
   color: #ffffff;
   border: 1px solid #ffffff40;
   border-radius: 7px;
   background: #414141 ;
   backdrop-filter: blur(4px);
   box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.discover-card img{
    margin-top: -70px ;
    width: 60%;
    align-self: self-start;
}

.discover-card-details .big-text{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.discover-card-details-btn{
    width: fit-content;
    border: 1px solid gray;
    padding: 10px 20px;
    transform: skewX(-20deg);
    margin: 2px;
    cursor: pointer;

}

.demo-card-section{
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.demo-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px ;
}

.demo-card{
    width: 220px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.demo-card > img{
    width:100%;
    /* height: 100px; */
}

.demo-prof-details{
    display: flex;
    justify-content: flex-start;
}

.demo-prof-details img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.demo-card > h5 {
    margin: 0;
    align-self: self-start;
    font-size: 20px;
}

.demo-card > demo-prof-details{
 display: flex;
 gap: 7px;
 align-self: self-start;   
}

.demo-card h5, .demo-card p{
    margin: 0%;
}

.demo-game-btn{
    cursor: pointer ;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    color: #ffffff;
    background-image: linear-gradient(45deg, #7d63f1 6% , #2c2c94 28% , #f805d0 97%);
}

footer > img{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #ffffff;
    padding: 100px 10% 0 10%;
    position: relative;
}

.about-and-links img{
    width: 25px;
    height: 25px;
}

.footer-container .brands{
  display: flex;   
  gap: 50px;
}

.footer-container .brands{
   height: 20px; 
}

.footer-container .about-and-links{
    display: flex;
    justify-content: space-between;
}

.footer-container .about-and-links > div{
    width: 22%;
}

.footer-container .about-and-links  ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    list-style: none;
}

.footer-container h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    #main-header .right img{
       display: none;
    }
}

@media only screen and (max-width: 768px) {
    .image-carousel .center-img{
        width: 250px;
        height: 150px;
    
    }

    .image-carousel img{
        width: 200px;
        height: 150px;
    }
}

@media only screen and (max-width: 1000px) {
    #main-header .right img{
       display: none;
    }
}

